<ion-header translucent>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/tabs" class="menu-buttons"></ion-back-button>
    </ion-buttons>

    <ion-title class="details-title">
      <b>Letra {{letra.nome_letra}}</b>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-bg">
  <ion-grid style="padding: 20px;">
    <ion-row size="12">
      <ion-col size="6" style="display: flex;">
        <ion-button [ngClass]="isPhoneme ? 'details-btn selected' : 'details-btn'"
          (click)="changePhoneme(true)">
          <ion-icon name="megaphone"></ion-icon>
          Fonema
        </ion-button>
      </ion-col>
      <ion-col size="6" style="display: flex;">
        <ion-button [ngClass]="!isPhoneme ? 'details-btn selected' : 'details-btn'"
          (click)="changePhoneme(false)">
          <ion-icon name="id-card"></ion-icon>
          Nome
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <img class="details-img" [src]="letra.imagem_letra" alt="Letra {{letra.nome_letra}}">
    </ion-row>
    <ion-row *ngIf="!isPhoneme" size="12">
      <ion-col style="display: grid;">
        <ion-label class="btn-fonema">
          {{letra.nome_letra}}
        </ion-label>
        <ion-button class="sound-btn" (click)="setAndPlaySound(letra.som_nome_letra)"></ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isPhoneme" size="12">
      <ion-col style="display: grid;" *ngFor="let f of letra.fonemas">
        <ion-label class="btn-fonema">
          /{{f.fonema}}/
        </ion-label>
        <ion-button class="sound-btn" (click)="setAndPlaySound(f.som_fonema)"></ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row size="12">
      <ion-button class="bottom-btn" style="height: fit-content;">
        <b class="silabas si">Sí</b>
        <b class="silabas la">la</b>
        <b class="silabas bas">bas</b>
      </ion-button>
    </ion-row> -->
    <!-- <ion-row size="12">
      <ion-button class="bottom-btn" style="height: fit-content;">
        <b class="quiz q">Q</b>
        <b class="quiz u">U</b>
        <b class="quiz i">I</b>
        <b class="quiz z">Z</b>
      </ion-button>
    </ion-row> -->
  </ion-grid>
</ion-content>
