<ion-header translucent>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/tabs" class="menu-buttons"></ion-back-button>
    </ion-buttons>

    <ion-title class="details-title">
      <b>Informações</b>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-bg">
  <ion-grid style="padding: 20px; margin-top: 35%;">
    <ion-row size="12" style="justify-content: center;">
      <ion-label class="info-label">
        Pro j<ion-label style="margin-left: -2px;">eto: AlfabetizaSom</ion-label>
      </ion-label>
    </ion-row>
    <ion-row size="12">
      <img class="icon-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Ícone app">
    </ion-row>
    <ion-row size="12" style="justify-content: center;">
      <ion-label class="info-label">
        Versão: {{version}}
      </ion-label>
    </ion-row>
  </ion-grid>
</ion-content>
