.quiz-text-row {
  .quiz-text {
    color: #000000;
    text-align: center;
    margin-bottom: 15%;
  }
}

.quiz-swiper {
  display: grid;
  justify-content: center;

  ion-label {
    color: #000000;
  }

  .quiz-row {
    margin: auto;
    width: 330px;
    display: flex;

    .quiz-img {
      width: 150px;
    }
  }

  .top-row {
    justify-content: space-between;
    margin-bottom: 10%;
  }

  .bottom-row {
    justify-content: center;
  }
}

.quiz-btn-row {
  display: flex;
  justify-content: center;
  margin-top: 10%;

  .quiz-btn {
    --background: url(../../../assets/images/quiz/btn/btn-quiz.png) no-repeat center center / cover !important;
    --box-shadow: none;
    width: 100px;
    height: 100px;
    margin-bottom: 15%;
  }
}

.quiz-pontuacao-page {
    display: grid;
    justify-content: center;
    margin-top: 15%;
}

.quiz-pontuacao {
  width: 300px;
  height: 300px;
  margin-top: 15%;
}

.quiz-pontuacao-text {
  text-align: center;
  font-size: 24px;
}

.text-green {
  color: #35EB17;
}

.text-yellow {
  color: #F6BE2C;
}

.text-red {
  color: #FA1515;
}

.border-green {
  border: 7px solid #35EB17;
}
