<ion-header translucent>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/tabs/details" class="menu-buttons"></ion-back-button>
    </ion-buttons>

    <ion-title class="details-title">
      <b>Quiz</b>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-bg">
  <ion-grid style="padding: 20px;">
    <div *ngIf="canShowSlide" class="row quiz-text-row">
      <p class="quiz-text">Selecione apenas a imagem que represente algo iniciado com a letra: </p>
    </div>
    <swiper-container
      #swiper
      [pagination]="true"
      [speed]="500"
      [allowTouchMove]="false"
      *ngIf="canShowSlide"
    >
      <swiper-slide *ngFor="let _ of [1, 2, 3, 4]; let i = index" class="quiz-swiper">
        <div class="row quiz-row top-row">
          <img [id]="'first-img' + i" (click)="markImage('first', i)" class="quiz-img first-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
          <img [id]="'second-img' + i" (click)="markImage('second', i)" class="quiz-img second-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
        </div>
        <div class="row quiz-row bottom-row">
          <img [id]="'third-img' + i" (click)="markImage('third', i)" class="quiz-img third-img" [src]="imagensQuiz[i]" alt="Imagem quiz">
        </div>
        <div class="row quiz-btn-row">
          <ion-button class="quiz-btn" (click)="goNext(i)" [disabled]="!canGoNext">
          </ion-button>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="quiz-pontuacao-page" *ngIf="!canShowSlide && pontuation == 4">
      <h5 class="quiz-pontuacao-text text-green">Parabéns!</h5>
      <h5 class="quiz-pontuacao-text text-green">Você acertou {{pontuation}}/4!</h5>
      <img class="quiz-pontuacao" src="../../../assets/images/quiz/icons/acerto.png" alt="Imagem quiz">
    </div>

    <div class="quiz-pontuacao-page" *ngIf="!canShowSlide && (pontuation >= 1 && pontuation < 4)">
      <h5 class="quiz-pontuacao-text text-yellow">Foi por pouco!</h5>
        <h5 class="quiz-pontuacao-text text-yellow">Você acertou {{pontuation}}/4!</h5>
        <img class="quiz-img" src="../../../assets/images/quiz/icons/quase.png" alt="Imagem quiz">
    </div>

    <div class="quiz-pontuacao-page" *ngIf="!canShowSlide && pontuation == 0">
      <h5 class="quiz-pontuacao-text text-red">Que pena!</h5>
      <h5 class="quiz-pontuacao-text text-red">Você acertou {{pontuation}}/4!</h5>
      <img class="quiz-img" src="../../../assets/images/quiz/icons/erro.png" alt="Imagem quiz">
    </div>

  </ion-grid>
</ion-content>
