<ion-header translucent>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/tabs/details" class="menu-buttons"></ion-back-button>
    </ion-buttons>

    <ion-title class="details-title">
      <b>Quiz</b>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-bg">
  <ion-grid style="padding: 20px;">
    <div class="row quiz-text-row">
      <p class="quiz-text">Selecione apenas a imagem que represente algo iniciado com a letra :</p>
    </div>
    <swiper-container
      #swiper
      [pagination]="true"
      [speed]="500"
      [allowTouchMove]="false"
    >
      <swiper-slide class="quiz-swiper">
        <div class="row quiz-row top-row">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
        </div>
        <div class="row quiz-row bottom-row">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
        </div>
        <div class="row quiz-btn-row">
          <ion-button class="quiz-btn" (click)="goNext()">
          </ion-button>
        </div>
      </swiper-slide>
      <swiper-slide class="quiz-swiper">
        <div class="row quiz-row top-row">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
        </div>
        <div class="row quiz-row bottom-row">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
        </div>
        <div class="row quiz-btn-row">
          <ion-button class="quiz-btn" (click)="goNext()">
          </ion-button>
        </div>
      </swiper-slide>
      <swiper-slide class="quiz-swiper">
        <div class="row quiz-row top-row">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
        </div>
        <div class="row quiz-row bottom-row">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
        </div>
        <div class="row quiz-btn-row">
          <ion-button class="quiz-btn" (click)="goNext()">
          </ion-button>
        </div>
      </swiper-slide>
      <swiper-slide class="quiz-swiper">
        <div class="row quiz-row top-row">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
        </div>
        <div class="row quiz-row bottom-row">
          <img class="quiz-img" src="../../../assets/icon/icon-alfabetizasom.jpeg" alt="Imagem quiz">
        </div>
        <div class="row quiz-btn-row">
          <ion-button class="quiz-btn" (click)="goNext()">
          </ion-button>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="quiz-pontuacao-page">
      <h5 class="quiz-pontuacao-text text-green">Parabéns!</h5>
      <h5 class="quiz-pontuacao-text text-green">Você acertou 4/4!</h5>
      <img class="quiz-pontuacao" src="../../../assets/images/quiz/icons/acerto.png" alt="Imagem quiz">
    </div>

    <div class="quiz-pontuacao-page">
      <h5 class="quiz-pontuacao-text text-green">Foi por pouco!</h5>
        <h5 class="quiz-pontuacao-text text-yellow">Você acertou 3/4!</h5>
        <img class="quiz-img" src="../../../assets/images/quiz/icons/quase.png" alt="Imagem quiz">
    </div>

    <div class="quiz-pontuacao-page">
      <h5 class="quiz-pontuacao-text text-green">Que pena!</h5>
      <h5 class="quiz-pontuacao-text text-yellow">Você acertou 0/4!</h5>
      <img class="quiz-img" src="../../../assets/images/quiz/icons/erro.png" alt="Imagem quiz">
    </div>

  </ion-grid>
</ion-content>
