<ion-header translucent>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/tabs/details" class="menu-buttons"></ion-back-button>
    </ion-buttons>

    <ion-title class="details-title">
      <b>Sílabas</b>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-bg">
  <ion-grid style="padding: 20px;">
    <ion-row *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index" size="12">
      <ion-col style="display: flex; justify-content: center;" size="8">
        <img class="details-img" [src]="letra.imagem_letra ? letra.imagem_letra : letra.imagem_digrafo" alt="letra.imagem_letra ? 'Letra' : 'Dígrafo'">
        <p class="operation">+</p>
        <img class="details-img" [src]="vogais[i]" alt="Vogal">
      </ion-col>
      <ion-col style="display: flex; justify-content: space-around;" size="4">
        <p class="operation">=</p>
        <p class="operation">AA</p>
      </ion-col>
    </ion-row>
    <ion-row>

    </ion-row>
  </ion-grid>
</ion-content>
