<ion-header translucent>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/tabs/details" class="menu-buttons"></ion-back-button>
    </ion-buttons>

    <ion-title class="details-title">
      <b>Sílabas</b>
    </ion-title>

  </ion-toolbar>
  <slot> 
    <ion-col _ngcontent-mrh-c144="" size="4" class="image-col md hydrated" ng-reflect-size="4" style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);"><img _ngcontent-mrh-c144="" class="details-img" src="./assets/images/letras-detalhes/Detalhes-A.png" alt="Letra A"></ion-col>

  </slot>
</ion-header>

<ion-content [fullscreen]="true" class="content-bg">
  <ion-grid style="padding: 20px;">
  </ion-grid>
</ion-content>
