<ion-header translucent>
  <ion-toolbar class="header-toolbar">
    <ion-title class="details-title">
      <b>Alfabeto</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-bg">
  <ion-grid style="padding: 20px;">
    <ion-row size="12">
      <ion-col size="12" style="display: flex;">
        <ion-title class="letter-title">
          Vogais
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size="4" *ngFor="let l of letras" class="image-col">
        <img class="details-img" src={{l.imagem_letra}} alt="Letra {{l.nome_letra}}" (click)="openDetails(l)">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="padding: 20px;">
    <ion-row size="12">
      <ion-col size="12" style="display: flex;">
        <ion-title class="letter-title">
          Dígrafos
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size="4" *ngFor="let d of digrafos">
        <img class="details-img" src={{d.imagem_digrafo}} alt="Dígrafo {{d.nome_digrafo}}" (click)="openDetails(d)">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
